# FastAPI và dependencies
fastapi==0.121.2
uvicorn[standard]==0.38.0
python-multipart==0.0.20
requests
# Environment và Configuration
python-dotenv==1.2.1

# Database - Supabase
supabase==2.24.0

# Authentication (nếu cần JWT)
pyjwt==2.10.1
cryptography==46.0.3

# Data validation
pydantic==2.12.4

google-cloud-aiplatform
google
google-adk
adk
psycopg2-binary